*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "McLaren", cursive;
}
.header{
    background-color: rgb(247, 170, 29);
    color:white;
    padding:1.2rem;
    font-weight: 200;
}
.footer{
    color: gray;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 35rem
    
}