*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background-color: rgb(247, 170, 29);
    color:white;
    padding:1.2rem;
    font-family: "McLaren", cursive;
    font-weight: 200;
    box-shadow: 0 0 4px black;
}
.footer{
    color: gray;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
    
    

.notes{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    font-weight: 200;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
